
.modalBtns {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 1rem;
}
.centerImage{
  width: 100% !important;
 display: flex;
 justify-content: center;
}
.p-dialog .p-dialog-header {
  padding: 0.1rem;
}
@media (max-width: 1200px) {
  .p-dialog {
    width: 50vw !important; 
    max-width: none !important; 
    height: auto; 
  }
}
@media (max-width: 600px) {
  .p-dialog {
    width: 90vw !important; 
    max-width: none !important; 
    height: auto; 
  }
}