.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  margin-bottom: 2%;
}

.input {
  margin: 2% 0 2% 0;
  padding: 1% 0 1% 0;
  background: rgba(247, 247, 247, 0.8745098039);
  border-radius: 0.35em;
  border: none;
  font-family: "Roboto", sans-serif;
}

.emailDiv {
  margin: 1rem 0 0 0;
  padding: 1% 0 1% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.input2 {
  width: 45%;
  padding: 1% 0 1% 0;
  background: #f7f7f7;
  border-radius: 0.35em;
  border: none;
  margin-bottom: 2%;
}

.marginBot {
  padding: 1% 0 1% 0;
}

.ErrorMsg {
  color: red;
}

.g-recaptcha {
  margin: 2% auto;
}

@media (max-width: 650px) {
  .form {
    width: 100%;
  }
}