.modalBtns {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  background-color: rgb(215, 213, 213);
}

.modalBtn {
  background-color: #46a8bc;
  border: none;
  border-radius: 0.25rem;
  width: 25%;
  padding: 2% 4%;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
.img2 {
  width: 100%;
  height: 80vh;
  background-size: 100% 100%;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}

.gumb {
  background: transparent;
  width: 100%;
  border: none;
  cursor: pointer;
}
.backIcon {
  background-position-y: 50%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../../public/images/icons/back.png");
}

.nextIcon {
  background-position-y: 50%;
  background-position-x: 100%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../../public/images/icons/next.png");
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
}

@media (max-width: 650px) {
  .modal {
    width: 100%;
  }
  .box {
    width: 95%;
  }
  .modalBtn {
    width: 30%;
    padding: 0 4%;
    cursor: pointer;
  }

  .img2 {
    height: 35vh;
    background-position-x: 25%;
  }
}
