@import "./Component/styles/breakpoints.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
}

@mixin margPad0 {
  margin: 0;
  padding: 0;
}

html {
  @include margPad0();
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
body {
  @include margPad0();
}
h2 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5em;
}
a {
  text-decoration: none;
}
ul {
  @include margPad0();
}
.mainContainer {
  @include margPad0();
  height: 100%;
}
.row {
  display: flex;
  overflow: auto;
  justify-content: space-around;
}
.right {
  display: flex;
  flex-direction: column;
  background-color: rgb(215, 213, 213);
  width: 70%;
}
.line {
  width: 90%;
  height: 1px;
  background-color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.footer {
  background-image: url("../public/images/fulls/mountain.jpg");
  background-position-y: 64%;
  height: 15vh;
}

@include l {
  .row {
    flex-direction: column;
  }
  .right {
    width: 100%;
    text-align: center;
  }
}

@include m {
  .row {
    flex-direction: column;
  }
  .right {
    width: 100%;
  }
}

@include xs {
  .footer {
    background-position-y: 61%;
    background-position-x: 40%;
    height: 15vh;
  }
}
